{% extends 'public/base_cpanel.html' %}
<!-- Cambiando el title -->
{% block title %}TecnoCorp | Lista de Sensores{% endblock %}
<!-- Inicio del block -->
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="row justify-content-end">
      <div class="col-md-6 mt-4 py-2">
        <input type="search" id="search" class="form-control border-0 shadow-none" placeholder="Buscar sensor..."
          onkeyup="buscadorTable('tbl_sensores')" />
      </div>
    </div>

    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table id="tbl_sensores" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID Sensor</th>
              <th>Tipo</th>
              <th>Ubicación</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            {% for sensor in sensores %}
            <tr id="{{ sensor.id_sensor }}">
              <td>{{ sensor.id_sensor }}</td>
              <td>{{ sensor.tipo }}</td>
              <td>{{ sensor.ubicacion }}</td>
              <td>{{ sensor.valor }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Script de búsqueda -->
<script>
function buscadorTable(idTabla) {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search");
    filter = input.value.toUpperCase();
    table = document.getElementById(idTabla);
    tr = table.getElementsByTagName("tr");

    // Iterar a través de todas las filas y ocultar aquellas que no coincidan con la búsqueda
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3]; // Cambiar el índice a la columna que deseas filtrar (en este caso, 3 para la columna "Valor")
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>

{% endblock %}


